# Local site path
WORDPRESS_ROOT_DIR="/Users/tim/Local Sites/wp-zinc-plugins/app/public"

# Local site URL
WORDPRESS_URL=http://wpzinc-plugins.local

# Postiz Auto Poster specific variables.
POSTIZ_AUTO_POSTER_LICENSE_KEY=12345