# Local site path
WORDPRESS_ROOT_DIR="/Users/tim/Local Sites/wp-zinc-plugins/app/public"

# Local site URL
WORDPRESS_URL=http://wpzinc-plugins.local

# WPZinc Social Publisher for Postiz specific variables.
WPZINC_SOCIAL_PUBLISHER_FOR_POSTIZ_LICENSE_KEY=12345