# Local site path
WORDPRESS_ROOT_DIR="/Users/tim/Local Sites/wp-zinc-plugins/app/public"

# Local site URL
WORDPRESS_URL=http://wpzinc-plugins.local

# Social Publisher for Postiz specific variables.
social_publisher_for_postiz_LICENSE_KEY=12345