/**
 * Styling adjustments for padding when viewing a Custom Post Type
 * or Custom Taxonomy that is within the body.wpzinc
 * 
 * See admin.scss where this file is included within the scope
 * of body.wpzinc
 */

/**
 * Header
 * - Used in CPT's and Custom Taxonomies where we cannot control
 * the HTML output.
 */
.wp-heading-inline,
> h1 {
	display: block;
	width: 100%;
	height: 98px;
	margin: 0 0 10px 0;
	padding: 0 20px;
	background-image: var(--wpzinc-logo, url(../images/icons/logo.svg));
	background-position: 30px 50%;
	background-repeat: no-repeat;
	background-size: 40px auto;
	background-color: var(--wpzinc-header-background-color, #fff);
	font-size: 24px;
	font-weight: 600;
	color: var(--wpzinc-header-secondary-text-color, #6e6e6e);
	line-height: 98px;
	text-indent: 70px;
	box-sizing: border-box;

	&::before {
		content: var(--wpzinc-plugin-display-name, "WP Zinc");
		color: var(--wpzinc-header-primary-text-color, #3d3d3d);
	}

	+ .page-title-action {
		margin-left: 20px;
	}
}

/**
 * WP List Table: Buttons Dropdown (e.g. Gutenberg / Classic Editor Add New Button)
 */
#split-page-title-action {
	margin-left: 22px;
}

/**
 * WP List Table: Filters
 */
ul.subsubsub {
	margin-left: 22px;
}

/**
 * WP List Table: Table
 */
form#posts-filter {
	margin: 15px 20px 20px 22px;

	div.tablenav.top {
		padding: 6px 0 10px 0;
	}

	div.tablenav.bottom {
		padding: 6px 0 0 0;
	}
}

/**
 * Add / Edit: Form
 */
form#post,
form#edittag {
	margin: 20px 20px 0 22px;
}

/**
 * Taxonomy List
 */
form.search-form {
	margin-left: 22px;
	margin-right: 20px;
}

#col-container {
	margin-left: 22px;
	margin-right: 20px;

	form#posts-filter {
		margin-left: 0;
		margin-right: 0;
	}
}
